$tablet-width: 1280px;
$tablet-width: 1280px;
$tablet-s-width: 1024px;
$tablet-xs-width: 768px;

$mobile-width: 480px;
$mobile-s-width: 360px;

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;

  @media (--tablet) {
    padding: 0 2vw;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}