:root {

  //colors

  --page-background-color: #F6F3F3;
  --footer-background-color: #ECEAEA;

  --stroke-color: #E1E1E1;

  --main-font-color: #343030;
  --footer-font-color: #555555;
  --old-price-font-color: #A0A0A0;

  --button-bg-color: #382E2B;
  --button-text-color: #F4F6F9;
  --button-secondary-bg-color: #5B3A32;

  //screens

  --desktop-width: 1440px;

  --tablet-width: 1280px;
  --tablet-s-width: 1024px;
  --tablet-xs-width: 768px;

  --mobile-width: 480px;
  --mobile-s-width: 360px;

}



