:root {

  --page-background-color: #F6F3F3;
  --footer-background-color: #ECEAEA;

  --stroke-color: #E1E1E1;

  --main-font-color: #343030;
  --footer-font-color: #555555;
  --old-price-font-color: #A0A0A0;

  --button-bg-color: #382E2B;
  --button-text-color: #F4F6F9;
  --button-secondary-bg-color: #5B3A32;

}


