.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 13px 36px 14px;

  &.has-icon {
    padding-left: 9px;
    padding-right: 9px;
  }

  @media (--tablet) {
    padding: 12px 24px;
  }


  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:hover {
    background-color: var(--button-hover-color);
  }
  &:disabled {
    background-color: var(--button-disable-color);
  }
  &:active {
    background-color: var(--button-bg-color);
  }


}


.is-loading {
  color: transparent;

  &::after {
    position: relative;
    top: 0;
    bottom: 0;
    right: 25%;
    content: "";

    width: 18px;
    height: 18px;

    margin: auto;

    border: 3px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
}

.in-cart {
  background-color: var(--button-secondary-bg-color);
}