.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  width: 112px;
  min-width: 100px;

  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:hover {
    background-color: var(--button-hover-color);
  }
  &:disabled {
    background-color: var(--button-disable-color);
  }
  &:active {
    background-color: var(--button-bg-color);
  }

}