.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 36px;

  &.has-icon {
    padding-left: 9px;
    padding-right: 9px;
  }

  @media (--tablet) {
    padding: 12px 24px;
  }


  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  &:hover {
    background-color: var(--button-hover-color);
  }
  &:disabled {
    background-color: var(--button-disable-color);
  }
  &:active {
    background-color: var(--button-bg-color);
  }


}
