.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  padding: 45px 0;

  @media (--mobile) {
    padding-top: 90px;
  }

  &__title {
    padding: 0;
    margin: 0;

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    list-style: none;

    @media (--tablet-s) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (--tablet-xs) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (--mobile) {
      grid-template-columns: 95%;
      align-self: center;
    }
  }
}




