.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  padding: 45px 0;

  @media (--mobile) {
    padding-top: 10vh;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    list-style: none;

    @media (--tablet-s) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (--tablet-xs) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (--mobile) {
      grid-template-columns: 95%;
      align-self: center;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  max-width: 280px;
  min-width: 220px;
  max-height: 328px;

  border: 1px solid var(--stroke-color);


  &--inactive {
    opacity: 0.5;
  }

  &__link {
    width: 100%;
    text-decoration: none;
    font-color: inherit;
  }

  &__image {
    display: flex;
    width: 100%;
    height: 20vh;
    max-height: 160px;

    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 22px;
    padding: 20px 24px 24px;

    @media (--tablet) {
      padding: 7%;
    }
  }

  &__buy-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    max-width: 118px;

    @media (--tablet) {
      max-width: 105px;
    }

    &--loader {
      color: transparent;

      &::after {
        position: relative;
        top: 0;
        bottom: 0;
        right: 25%;
        content: "";

        width: 18px;
        height: 18px;

        margin: auto;

        border: 3px solid white;
        border-top-color: transparent;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
      }
    }

    &--incart {
      position: relative;
      padding-left: 28px;
      background-color: var(--button-secondary-bg-color);

      @media (--tablet) {
        padding-left: 10%;
      }

      &::before {
        position: absolute;
        top: 16px;
        left: 10px;
        content: " ";

        width: 20px;
        height: 20px;

        background-image: url("././images/icons/check-mark.svg");
        background-repeat: no-repeat;

        @media (--tablet-xs) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}




