.footer {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__contacts {
    display: flex;
    flex-direction: row;
    column-gap: 48px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
      }

    }

  }
}