.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;

  &__contacts {
    display: flex;
    flex-direction: row;
    column-gap: 48px;

    @media (--mobile) {
      flex-direction: column;
      align-self: center;
      align-items: end;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}

.contacts {

  &__phone {
    position: relative;

    &:before {
      position: absolute;
      content: " ";
      top: 3px;
      left: -20px;

      width: 14px;
      height: 14px;

      background-image: url("././images/icons/phone-icon.svg");
      background-repeat: no-repeat;

      @media (--mobile) {
        display: none;
      }

    }
  }

  &__address {
    position: relative;

    &:before {
      position: absolute;
      content: " ";
      top: 3px;
      left: -20px;

      width: 14px;
      height: 14px;

      background-image: url("././images/icons/address-icon.svg");
      background-repeat: no-repeat;

      @media (--mobile) {
        display: none;
      }
    }
  }
}