$tablet-width: 1280px;
$tablet-width: 1280px;
$tablet-s-width: 1024px;
$tablet-xs-width: 768px;

$mobile-width: 480px;
$mobile-s-width: 360px;


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2% 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;

  @media (min-width: $tablet-s-width) {
    column-gap: 48px;
  }

  &__logo {
    max-width: 48px;
    min-width: 40px;
    width: 10vw;
  }

  &__link {
    display: contents;

  }

  &__toggle-button {

    display: block;
    background-color: transparent;
    cursor: pointer;
    border:none;

    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;

    @media (min-width: $tablet-s-width) {
      display: none;
    }
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 12px;
    z-index:4;


    &--closed {
      width: 100%;
      height: 1px;
      background-color: #000;
      box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
      z-index: 2;
    }

    &--open {
      top:22px;
      z-index: 4;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        transform: rotate(-45deg);
      }

      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        transform: rotate(45deg);
        box-shadow: none;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: none;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 40%;
  padding: 50px 0 0 10%;

  background-color: var(--footer-background-color);
  list-style: none;

  &--open {
    display: flex;
  }

  @media screen and (min-width: $tablet-s-width) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
    flex-wrap: wrap;
    padding: 0;
    width: auto;
    height: auto;

    background-color: transparent;

    font-size: inherit;
  }

  @media screen and (min-width: $tablet-width) {
    column-gap: 48px;
  }


  &__link {
    cursor: pointer;
    padding: 10px 0;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

}

.search {
  position: absolute;
  width: 97%;
  top: 70px;


  display: flex;
  flex-direction: row;

  @media (min-width: $mobile-width) {
    position: static;
    width: 60vw;
  }

  @media (min-width: $tablet-xs-width) {
    width: 416px;
  }



  &__input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 2vw;
    height: auto;

    border: 1px solid var(--stroke-color);
    background-color: transparent;

    &:focus,
    &:focus-visible,
    &:active {
      border-color: var(--stroke-active-color);
      outline: none;
      color: var(--main-font-color);
    }
  }

  &__button {
    width: 15vw;

    @media screen and (min-width: $tablet-xs-width) {
      width: 122px;
    }

  }

}