$tablet-width: 1280px;
$tablet-width: 1280px;
$tablet-s-width: 1024px;
$tablet-xs-width: 768px;

$mobile-width: 480px;
$mobile-s-width: 360px;


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;

  @media (min-width: $tablet-s-width) {
    column-gap: 48px;
  }


  &__link {
    display: contents;
  }

  &__toggle-button {

    display: block;
    background-color: transparent;
    cursor: pointer;
    border:none;

    width: 48px;
    height: 48px;
    position: relative;

    @media (min-width: $tablet-s-width) {
      display: none;
    }
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 12px;


    &--closed {
      width: 48px;
      height: 1px;
      background-color: #000;
      box-shadow: 0 12px 0 0 #000, 0 24px 0 0 #000;
      z-index: 2;
    }

    &--open {
      top:22px;

      &::before {
        content: "";
        position: absolute;
        width: 48px;
        height: 2px;
        background-color: #000;
        transform: rotate(-45deg);
      }

      &::after {
        content: "";
        position: absolute;
        width: 48px;
        height: 2px;
        background-color: #000;
        transform: rotate(45deg);
        box-shadow: none;
      }
    }
  }
}

.menu {
  display: none;

  @media screen and (min-width: $tablet-s-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
    flex-wrap: wrap;

    font-size: inherit;

    list-style: none;
  }

  @media screen and (min-width: $tablet-width) {
    column-gap: 48px;
  }


  &__link {
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60vw;

  @media screen and (min-width: $tablet-xs-width) {
    width: 416px;
  }

  &__input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 2vw;
    height: auto;

    border: 1px solid var(--stroke-color);
    background-color: transparent;

    &:focus,
    &:focus-visible,
    &:active {
      border-color: var(--stroke-active-color);
      outline: none;
      color: var(--main-font-color);
    }

    @media screen and (min-width: $tablet-xs-width) {
      padding: 16px;
    }

    @media screen and (min-width: $tablet-xs-width) {
      padding: 16px;
    }
  }

  &__button {
    width: 15vw;

    @media screen and (min-width: $tablet-xs-width) {
      width: 122px;
    }

  }

}