.product-card {
  max-width: 280px;
  min-width: 220px;
  max-height: 328px;

  width: 100%;
  height: 100%;
  border: 1px solid var(--stroke-color);

  &--inactive {
    opacity: 0.5;
    cursor: not-allowed;

    & .product-card__inner {
      pointer-events: none;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    width: 100%;
    max-height: 160px;

    object-fit: cover;
    object-position: left top;

  }

  &__image-wrapper {
    line-height: 0;
  }

  &__title {
    padding: 0 24px;

    @media (--tablet) {
      padding: 0 7%;
    }

  }

  &__actions {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px 24px;

    @media (--tablet) {
      padding: 0 7% 7%;
    }
  }

  &__prices {
    display: flex;
    flex-direction: column;
  }

  &__new-price {
    text-decoration: none;
  }

  &__old-price {
    text-decoration: line-through;
    color: var(--old-price-font-color);
  }

  &__alert {
    display: block;
  }

  &__buy-button {

    position: relative;

    max-width: 118px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: baseline;

    @media (--tablet) {
      gap: 4px;
    }

    &:not(.has-icon) {
      .buy-button-icon {
        display: none;
      }
    }
  }
}

