@import url("normalize.css/normalize.css");
@import url("scss/font/fonts.scss");
:root {
  --page-background-color: #F6F3F3;
  --footer-background-color: #ECEAEA;
  --stroke-color: #E1E1E1;
  --main-font-color: #343030;
  --footer-font-color: #555555;
  --old-price-font-color: #A0A0A0;
  --button-bg-color: #382E2B;
  --button-text-color: #F4F6F9;
  --button-secondary-bg-color: #5B3A32;
  --desktop-width: 1440px;
  --tablet-width: 1280px;
  --tablet-s-width: 1024px;
  --tablet-xs-width: 768px;
  --mobile-width: 480px;
  --mobile-s-width: 360px;
}

.page {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}

h1 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 24px;
}

h2 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 18px;
}

h3 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 16px;
}

h4 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}

h5 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}

h6 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}

address {
  font-style: normal;
}

.text-sold {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--page-background-color);
}
.page__header {
  border-bottom: 1px solid var(--stroke-color);
}
.page__content {
  flex-grow: 1;
}
.page__footer {
  background-color: var(--footer-background-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 48px;
  flex-wrap: wrap;
  list-style: none;
}

.catalog {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 32px;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 328px;
  border: 1px solid var(--stroke-color);
}
.card__link {
  width: 100%;
  text-decoration: none;
}
.card__image {
  width: 100%;
  height: 160px;
  object-fit: fill;
}
.card__info {
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.card__buy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  height: 48px;
  width: 112px;
}

/*# sourceMappingURL=button.css.map */

/*# sourceMappingURL=main.css.map */
