@import url("scss/fonts.scss");

$font-size: 1rem;
$font-color: green;

html {
  font-size: $font-size;
  color: $font-color;
}

.paragraph {
  font-family: 'Merriweather';
  font-size: 30px;
  font-weight: 700;
  color: black;

}