@import url("normalize.css/normalize.css");
@import url("scss/font/fonts.scss");
:root {
  --page-background-color: #F6F3F3;
  --footer-background-color: #ECEAEA;
  --stroke-color: #E1E1E1;
  --stroke-active-color: #B5B5B5;
  --main-font-color: #343030;
  --footer-font-color: #555555;
  --old-price-font-color: #A0A0A0;
  --button-bg-color: #382E2B;
  --button-hover-color: #776763;
  --button-disable-color: #C1B4B1;
  --button-text-color: #F4F6F9;
  --button-secondary-bg-color: #5B3A32;
  --desktop-width: 1440px;
  --tablet-width: 1280px;
  --tablet-s-width: 1024px;
  --tablet-xs-width: 768px;
  --mobile-width: 480px;
  --mobile-s-width: 360px;
}

.page {
  font-family: "Merriweather", "Arial";
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  .page {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  .page {
    font-size: 14px;
  }
}

h1 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 18px;
}
@media only screen and (min-width: 360px) {
  h1 {
    font-size: calc(
            18px + 6 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: "Merriweather", "Arial";
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media only screen and (min-width: 360px) {
  h2 {
    font-size: calc(
            14px + 4 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media only screen and (min-width: 360px) {
  h3 {
    font-size: calc(
            14px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  h4 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-family: "Merriweather", "Arial";
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  h5 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  h6 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  h6 {
    font-size: 14px;
  }
}

address {
  font-style: normal;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  address {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  address {
    font-size: 14px;
  }
}

.text-sold {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media only screen and (min-width: 360px) {
  .text-sold {
    font-size: calc(
            14px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  .text-sold {
    font-size: 16px;
  }
}

.button {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  color: var(--button-text-color);
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  .button {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  .button {
    font-size: 14px;
  }
}

.price {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media only screen and (min-width: 360px) {
  .price {
    font-size: calc(
            12px + 4 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  .price {
    font-size: 16px;
  }
}
.price--old {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--old-price-font-color);
}
@media only screen and (min-width: 360px) {
  .price--old {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  .price--old {
    font-size: 14px;
  }
}

input {
  font-size: 12px;
  color: #9F9F9F;
}
@media only screen and (min-width: 360px) {
  input {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media only screen and (min-width: 1920px) {
  input {
    font-size: 14px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 112px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:disabled {
  background-color: var(--button-disable-color);
}

.button:active {
  background-color: var(--button-bg-color);
}

/*# sourceMappingURL=button.css.map */
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .wrapper {
    padding: 0 2vw;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--page-background-color);
}
.page__header {
  border-bottom: 1px solid var(--stroke-color);
}
.page__content {
  flex-grow: 1;
}
.page__footer {
  background-color: var(--footer-background-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}
@media (min-width: 1024px) {
  .navigation {
    column-gap: 48px;
  }
}
.navigation__logo {
  max-width: 48px;
  min-width: 40px;
  width: 10vw;
}
.navigation__link {
  display: contents;
}
.navigation__toggle-button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
}
@media (min-width: 1024px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle {
  display: block;
  position: absolute;
  top: 12px;
}
.navigation__toggle--closed {
  width: 100%;
  height: 1px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  z-index: 2;
}
.navigation__toggle--open {
  top: 22px;
}
.navigation__toggle--open::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: #000;
  transform: rotate(-45deg);
}
.navigation__toggle--open::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  box-shadow: none;
}

.menu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
    flex-wrap: wrap;
    font-size: inherit;
    list-style: none;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    column-gap: 48px;
  }
}
.menu__link {
  cursor: pointer;
}
.menu__link:hover, .menu__link:focus {
  opacity: 0.7;
}
.menu__link:active {
  opacity: 1;
}

.search {
  position: absolute;
  width: 97vw;
  top: 70px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 480px) {
  .search {
    position: static;
    width: 60vw;
  }
}
@media (min-width: 768px) {
  .search {
    width: 416px;
  }
}
.search__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 2vw;
  height: auto;
  border: 1px solid var(--stroke-color);
  background-color: transparent;
}
.search__input:focus, .search__input:focus-visible, .search__input:active {
  border-color: var(--stroke-active-color);
  outline: none;
  color: var(--main-font-color);
}
@media screen and (min-width: 768px) {
  .search__input {
    padding: 16px;
  }
}
@media screen and (min-width: 768px) {
  .search__input {
    padding: 16px;
  }
}
.search__button {
  width: 15vw;
}
@media screen and (min-width: 768px) {
  .search__button {
    width: 122px;
  }
}

.catalog {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
@media (max-width: 480px) {
  .catalog {
    padding-top: 70px;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  list-style: none;
}
@media screen and (max-width: 1024px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .catalog__list {
    grid-template-columns: 95%;
    margin: 0 auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  min-width: 200px;
  max-height: 328px;
  border: 1px solid var(--stroke-color);
}
.card--inactive {
  opacity: 0.5;
}
.card__link {
  width: 100%;
  text-decoration: none;
}
.card__image {
  display: flex;
  width: 100%;
  height: 16vh;
  max-height: 160px;
  min-height: 130px;
  object-fit: cover;
}
.card__info {
  padding: 20px 24px 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 22px;
}
@media screen and (max-width: 1280px) {
  .card__info {
    padding: 7%;
  }
}
.card__buy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__button {
  max-width: 112px;
}
@media screen and (max-width: 1280px) {
  .card__button {
    max-width: 95px;
  }
}

.footer {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}
.footer__contacts a {
  text-decoration: none;
  color: inherit;
}
.footer__contacts a:hover, .footer__contacts a:focus {
  opacity: 0.7;
}
.footer__contacts a:active {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
