@import url("normalize.css/normalize.css");
@import url("scss/font/fonts.scss");
:root {
  --page-background-color: #F6F3F3;
  --footer-background-color: #ECEAEA;
  --stroke-color: #E1E1E1;
  --stroke-active-color: #B5B5B5;
  --main-font-color: #343030;
  --footer-font-color: #555555;
  --old-price-font-color: #A0A0A0;
  --button-bg-color: #382E2B;
  --button-hover-color: #776763;
  --button-disable-color: #C1B4B1;
  --button-text-color: #F4F6F9;
  --button-secondary-bg-color: #5B3A32;
}

@custom-media --desktop (max-width: 1440px);
@custom-media --desktop-above (min-width: 1441px);
@custom-media --tablet (max-width: 1280px);
@custom-media --tablet-above (min-width: 1281px);
@custom-media --tablet-s (max-width: 1024px);
@custom-media --tablet-s-above (min-width: 1025px);
@custom-media --tablet-xs (max-width: 768px);
@custom-media --tablet-xs-above (min-width: 769px);
@custom-media --mobile (max-width: 480px);
@custom-media --mobile-above (min-width: 481px);
@custom-media --mobile-s (max-width: 360px);
@custom-media --mobile-s-above (min-width: 361px);
.page {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 360px) {
  .page {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  .page {
    font-size: 14px;
  }
}

h1 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 18px;
}
@media (min-width: 360px) {
  h1 {
    font-size: calc(
            18px + 6 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media (min-width: 360px) {
  h2 {
    font-size: calc(
            14px + 4 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media (min-width: 360px) {
  h3 {
    font-size: calc(
            14px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h3 {
    font-size: 16px;
  }
}

h4 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 360px) {
  h4 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 400;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 360px) {
  h5 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 360px) {
  h6 {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  h6 {
    font-size: 14px;
  }
}

address {
  font-style: normal;
  font-size: 12px;
}
@media (min-width: 360px) {
  address {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  address {
    font-size: 14px;
  }
}

.text-sold {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 14px;
}
@media (min-width: 360px) {
  .text-sold {
    font-size: calc(
            14px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  .text-sold {
    font-size: 16px;
  }
}

.button {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  color: var(--button-text-color);
  font-size: 12px;
}
@media (min-width: 360px) {
  .button {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  .button {
    font-size: 14px;
  }
}

.price {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 700;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 360px) {
  .price {
    font-size: calc(
            12px + 4 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  .price {
    font-size: 16px;
  }
}
.price--old {
  font-family: "Merriweather", "Arial", serif;
  font-weight: 300;
  color: var(--main-font-color);
  line-height: 1.5;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--old-price-font-color);
}
@media (min-width: 360px) {
  .price--old {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  .price--old {
    font-size: 14px;
  }
}

input {
  font-size: 12px;
  color: #9F9F9F;
}
@media (min-width: 360px) {
  input {
    font-size: calc(
            12px + 2 * (100vw - 360px) / (1920 - 360)
    );
  }
}
@media (min-width: 1920px) {
  input {
    font-size: 14px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 112px;
  min-width: 100px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:disabled {
  background-color: var(--button-disable-color);
}

.button:active {
  background-color: var(--button-bg-color);
}

/*# sourceMappingURL=button.css.map */
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
@media (--tablet) {
  .wrapper {
    padding: 0 2vw;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--page-background-color);
}
.page__header {
  border-bottom: 1px solid var(--stroke-color);
}
.page__content {
  flex-grow: 1;
}
.page__footer {
  background-color: var(--footer-background-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}
@media (--tablet-s-above) {
  .navigation {
    column-gap: 48px;
  }
}
.navigation__logo {
  max-width: 48px;
  min-width: 40px;
  width: 10vw;
}
.navigation__link {
  display: contents;
}
.navigation__toggle-button {
  position: relative;
  top: -7px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}
@media (--tablet-s-above) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle {
  position: absolute;
  top: 12px;
  display: block;
  z-index: 4;
}
.navigation__toggle--closed {
  width: 100%;
  height: 1px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  z-index: 4;
}
.navigation__toggle--open {
  top: 22px;
  z-index: 4;
}
.navigation__toggle--open::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #000;
  transform: rotate(-45deg);
}
.navigation__toggle--open::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
  box-shadow: none;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 40%;
  min-width: 200px;
  padding: 65px 0 0 10%;
  background-color: var(--footer-background-color);
  list-style: none;
}
.menu--open {
  display: flex;
}
@media (--tablet-s-above) {
  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
    row-gap: 10px;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    font-size: inherit;
  }
}
@media (--tablet-above) {
  .menu {
    column-gap: 48px;
  }
}
.menu__link {
  cursor: pointer;
  padding: 10px 0;
}
.menu__link:hover, .menu__link:focus {
  opacity: 0.7;
}
.menu__link:active {
  opacity: 1;
}

.search {
  position: absolute;
  width: 97%;
  top: 70px;
  display: flex;
  flex-direction: row;
}
@media (--mobile-above) {
  .search {
    position: static;
    width: 60vw;
  }
}
@media (--tablet-xs-above) {
  .search {
    width: 416px;
  }
}
.search__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 2vw;
  height: auto;
  border: 1px solid var(--stroke-color);
  background-color: transparent;
}
.search__input:focus, .search__input:focus-visible, .search__input:active {
  border-color: var(--stroke-active-color);
  outline: none;
  color: var(--main-font-color);
}
.search__button {
  width: 15vw;
}
@media (--tablet-xs-above) {
  .search__button {
    width: 122px;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
  padding: 45px 0;
}
@media (--mobile) {
  .catalog {
    padding-top: 10vh;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  list-style: none;
}
@media (--tablet-s) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (--tablet-xs) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (--mobile) {
  .catalog__list {
    grid-template-columns: 95%;
    align-self: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  min-width: 220px;
  max-height: 328px;
  border: 1px solid var(--stroke-color);
}
.card--inactive {
  opacity: 0.5;
}
.card__link {
  width: 100%;
  text-decoration: none;
}
.card__image {
  display: flex;
  width: 100%;
  height: 20vh;
  max-height: 160px;
  object-fit: cover;
}
.card__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 22px;
  padding: 20px 24px 24px;
}
@media (--tablet) {
  .card__info {
    padding: 7%;
  }
}
.card__buy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__button {
  max-width: 118px;
}
@media (--tablet) {
  .card__button {
    max-width: 105px;
  }
}
.card__button--loader {
  color: transparent;
}
.card__button--loader::after {
  position: relative;
  top: 0;
  bottom: 0;
  right: 25%;
  content: "";
  width: 18px;
  height: 18px;
  margin: auto;
  border: 3px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
.card__button--incart {
  position: relative;
  padding-left: 28px;
}
@media (--tablet) {
  .card__button--incart {
    padding-left: 10%;
  }
}
.card__button--incart::before {
  position: absolute;
  top: 16px;
  left: 10px;
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url("././images/icons/check-mark.svg");
  background-repeat: no-repeat;
}
@media (--tablet-xs) {
  .card__button--incart::before {
    width: 15px;
    height: 15px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}
@media (--mobile) {
  .footer__contacts {
    flex-direction: column;
    align-self: center;
    align-items: end;
  }
}
.footer__contacts a {
  text-decoration: none;
  color: inherit;
}
.footer__contacts a:hover, .footer__contacts a:focus {
  opacity: 0.7;
}
.footer__contacts a:active {
  opacity: 1;
}

.contacts__phone {
  position: relative;
}
.contacts__phone:before {
  position: absolute;
  content: " ";
  top: 3px;
  left: -20px;
  width: 14px;
  height: 14px;
  background-image: url("././images/icons/phone-icon.svg");
  background-repeat: no-repeat;
}
@media (--mobile) {
  .contacts__phone:before {
    display: none;
  }
}
.contacts__address {
  position: relative;
}
.contacts__address:before {
  position: absolute;
  content: " ";
  top: 3px;
  left: -20px;
  width: 14px;
  height: 14px;
  background-image: url("././images/icons/address-icon.svg");
  background-repeat: no-repeat;
}
@media (--mobile) {
  .contacts__address:before {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
