@font-face {
  font-family: "Merriweathe";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Merriweather-Light.woff2") format("woff2"), url("../fonts/Merriweather-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweathe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweathe";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2"), url("../fonts/Merriweather-Bold.woff") format("woff");
  font-display: swap;
}